* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  position: relative;
}

body::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./design/desktop-design.jpg);
  position: absolute;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 0.3;
  pointer-events: none;
}

.container {
  width: 1114px;
  margin: auto;
}

.container--fullH {
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  width: 100%;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 65px;
}

.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-right: 3px;
}

.menu__item {
  color: white;
  margin-left: 33px;
  font-family: "Alata", sans-serif;
}

.banner {
  background-image: url(./images/desktop/image-hero.jpg);
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
}

.banner__txt {
  position: relative;
  top: 225px;
  padding: 40px 40px;
  color: white;
  font-size: 3.1em;
  border: 2px solid white;
  width: 654px;
  height: 280px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.about {
  padding-top: 160px;
}

.about__wrapper {
  position: relative;
}

.about__img-mobile {
  display: none;
}

.about__txt {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 541px;
  background: white;
  padding-top: 95px;
  padding-left: 95px;
}

.about__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.2em;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.about__p {
  font-family: "Alata", sans-serif;
  margin-bottom: 5px;
  line-height: 25px;
}

.creations {
  padding-top: 180px;
  margin-bottom: 185px;
}

.creations__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.creations__title {
  font-size: 3.2em;
  font-family: "Josefin Sans", sans-serif;
}

.creations__btn {
  border: 2px solid black;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-family: "Alata", sans-serif;
  padding: 8px 35px;
  letter-spacing: 5px;
}

.creations__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.card {
  height: 450px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 256px;
}

.card__img {
  position: absolute;
  z-index: 5;
}

.card__title {
  z-index: 10;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  padding: 33px 40px;
  letter-spacing: 1.5px;
}

footer {
  background-color: black;
  color: white;
  height: 160px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2px;
  padding-top: 40px;
}

.footer-menu,
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer__logo {
  margin-bottom: 18px;
  display: block;
}

.footer__logo svg {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  left: -25px;
  position: relative;
}

.footer-menu__item {
  font-family: "Alata", sans-serif;
  margin-right: 32.5px;
}

.socials {
  margin-top: 3px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.socials__item {
  margin-left: 16px;
  margin-bottom: 22px;
}

.copy {
  font-family: "Alata", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
  .creations__wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .about__txt {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    right: -50px;
  }
  .creations {
    padding-top: 200px;
  }
  .creations__wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 750px) {
  .container {
    width: 100%;
    padding: 0 48px;
  }
  .menu {
    display: none;
  }
  .banner {
    background-image: url(./images/mobile/image-hero.jpg);
  }
  .banner__txt {
    padding: 50px;
    font-size: 1.5em;
    width: 100%;
    height: auto;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
  }
  .about {
    padding-top: 192px;
  }
  .about__img {
    display: none;
  }
  .about__img-mobile {
    display: block;
    width: 100%;
    margin-bottom: 95px;
  }
  .about__txt {
    position: initial;
    padding: 0;
    width: auto;
    text-align: center;
  }
  .about__title {
    font-size: 1.8em;
  }
  .creations__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */