$font400: "Alata", sans-serif;
$font300: "Josefin Sans", sans-serif;
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$DarkGray: #8c8c8c;
$VeryDarkGray: #696969;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  position: relative;
}
.container {
  width: 1114px;
  margin: auto;
}
.container--fullH {
  height: 100%;
}
header {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}
.menu {
  list-style: none;
  display: flex;
  margin-top: 5px;
  margin-right: 3px;
}
.menu__item {
  color: $White;
  margin-left: 33px;
  font-family: $font400;
}
.banner {
  background-image: url(./images/desktop/image-hero.jpg);
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
}
.banner__txt {
  position: relative;
  top: 225px;
  padding: 40px 40px;
  color: $White;
  font-size: 3.1em;
  border: 2px solid white;
  width: 654px;
  height: 280px;
  font-family: $font300;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.about {
  padding-top: 160px;
}

.about__wrapper {
  position: relative;
}
.about__img-mobile {
  display: none;
}
.about__txt {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 541px;
  background: white;
  padding-top: 95px;
  padding-left: 95px;
}
.about__title {
  font-family: $font300;
  font-size: 3.2em;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.about__p {
  font-family: $font400;
  margin-bottom: 5px;
  line-height: 25px;
  color: $DarkGray;
}
.creations {
  padding-top: 180px;
  margin-bottom: 185px;
}
.creations__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.creations__title {
  font-size: 3.2em;
  font-family: $font300;
}
.creations__btn {
  border: 2px solid $Black;
  text-transform: uppercase;
  color: $Black;
  text-decoration: none;
  font-family: $font400;
  padding: 8px 35px;
  letter-spacing: 5px;
}
.creations__btn--mobile {
  display: none;
}
.creations__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.card {
  height: 450px;
  position: relative;
  display: flex;
  width: 256px;
}
.card__img {
  position: absolute;
  z-index: 5;
}
.card__img--mobile {
  display: none;
}
.card__title {
  z-index: 10;
  color: $White;
  align-self: flex-end;
  font-family: $font300;
  text-transform: uppercase;
  font-size: 2em;
  padding: 33px 40px;
  letter-spacing: 1.5px;
}
footer {
  background-color: black;
  color: white;
  height: 160px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
  padding-top: 40px;
}

.footer-menu,
.socials {
  display: flex;
  list-style: none;
}

.footer__logo {
  margin-bottom: 18px;
  display: block;
  svg {
    transform: scale(0.75);
    left: -25px;
    position: relative;
  }
}

.footer-menu__item {
  font-family: $font400;
  margin-right: 32.5px;
}
.socials {
  margin-top: 3px;
  justify-content: flex-end;
}

.socials__item {
  margin-left: 16px;
  margin-bottom: 22px;
}
.copy {
  font-family: $font400;
  color: $DarkGray;
}
.attribution {
  font-size: 13px;
  position: absolute;
  text-align: center;
  bottom: 15px;
  transform: translateX(-50%);
  left: 50%;
  color: white;
  font-family: $font400;
  a {
    color: hsl(228, 45%, 44%);
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
  .creations__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .about__txt {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    right: -50px;
  }
  .creations {
    padding-top: 200px;
  }
  .creations__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .card {
    justify-self: center;
  }
}

@media screen and (max-width: 750px) {
  .container {
    width: 100%;
    padding: 0 26px;
  }
  .menu {
    display: none;
  }
  .banner {
    background-image: url(./images/mobile/image-hero.jpg);
    height: 740px;
  }
  .banner__txt {
    padding: 22px 25px;
    font-size: 1.95em;
    width: 100%;
    height: auto;
    transform: translateY(-50%);
    top: 50%;
  }
  .about {
    padding-top: 105px;
  }
  .about__img {
    display: none;
  }
  .about__img-mobile {
    display: block;
    width: 100%;
    margin-bottom: 55px;
  }
  .about__txt {
    position: initial;
    padding: 0;
    width: auto;
    text-align: center;
  }
  .about__title {
    font-size: 2.4em;
    margin-bottom: 20px;
  }
  .about__p {
    padding: 0 15px;
    font-size: 1.13em;
    line-height: 28px;
  }
  .creations {
    padding-top: 100px;
    margin-bottom: 108px;
  }
  .creations__heading {
    justify-content: center;
    margin-bottom: 56px;
  }
  .creations__title {
    font-size: 2.5em;
  }
  .creations__wrapper {
    grid-template-columns: 1fr;
    grid-row-gap: 28px;
  }
  .card {
    height: 135px;
    width: 100%;
  }
  .card__title {
    width: 60%;
    font-size: 1.7em;
    padding: 22px 24px;
    letter-spacing: 1px;
  }
  .card__img {
    display: none;
  }
  .card__img--mobile {
    display: block;
    position: absolute;
    z-index: 5;
    width: 100%;
  }
  .creations__btn {
    display: none;
  }
  .creations__btn--mobile {
    display: block;
    width: 180px;
    text-align: center;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 40px;
    padding: 11px;
  }
  footer {
    height: auto;
    padding-bottom: 60px;
  }
  .footer__logo {
    margin-bottom: 35px;
    svg {
      transform: scale(0.85);
      left: 0;
    }
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  .footer-menu {
    flex-direction: column;
    align-items: center;
  }
  .footer-menu__item {
    margin-right: 0;
    font-size: 1.1em;
    margin-bottom: 23px;
  }
  .socials {
    margin-top: 36px;
    justify-content: center;
  }
  .socials__item {
    margin: 0 11px;
    margin-bottom: 22px;
    svg {
      transform: scale(1.1);
    }
  }
  .copy {
    font-size: 1.14em;
  }
}
